rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents for any user, including unauthenticated users.
    // WARNING: This is insecure and should only be used for development.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
